<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pipette</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "pipette/application", media: "all" %>
</head>
<body>
<%= render "layouts/pipette/header" %>
<%= yield %>
<%= render "layouts/pipette/footer" %>
</body>
</html>
