<p class="flash-success d-none"><%= notice %></p>

<div id="resources-index">
  <h1 class="resource_list text-center">Index Collections</h1>
  <p>Index a list of collections by Aspace ID. Useful for indexing new Aspace collections that haven't been previously
  indexed into Archy.</p>
  <%= form_with url: "/admin/process_selected_finding_aids", method: :post do |form| %>
    <%= form.label :query, "Index Selected EAD:", { class: 'form-label' } %>
    <%= form.text_field :aspace_id, value: '', class: 'form-control mb-3' , placeholder: 'Comma seperated list of aspace ids e.g. 23454,41234' %>
    <%= form.submit "Index selected collections", { id: 'selected-resources',class: 'btn btn-primary' } %>
  <% end %>
</div>